spring:
  main:
    allow-circular-references: true
  datasource:
    driverClassName: org.postgresql.Driver
    #    url: jdbc:postgresql://localhost:5432/ib?currentSchema=migro
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: false

compare-movements:
  # количество одновременной отправки
  throughput: 8
  # задержка отправки очередной порции
  timeout: 3000

  #http://localhost:8080/swagger-ui/index.html#/